$color-text: #0c0e2c;
$color-cards: #fff;
$color-border: #d2d8e1;
$color-grey: #657892;
$color-error: #e51d0b;
$color-primary: #12a2ab;
$color-primary-rgb: rgb(18, 162, 171);
$color-primary-hover: #1f8289;